.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px 16px;
	padding-bottom: 14px;
	background: linear-gradient(0deg, #974a19 0%, #bb7523 100%);
	border-radius: 20px 20px 0 0;
	z-index: 2;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border: 4px solid rgba(255, 255, 255, 0.13);
		border-bottom: none;
		border-radius: 20px 20px 0 0;
		pointer-events: none;
	}

	@media (max-height: 695px) {
		gap: 20px;
	}

	&Icon {
		position: absolute;
		top: 32px;
		transform: translateY(-50%);
		left: 18px;
		width: 48px;
		height: 48px;
		z-index: 10;
	}

	&EnergyBar {
		position: relative;
		width: 100%;
		text-align: center;
		border-radius: 30px;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.27) 0%,
			rgba(0, 0, 0, 0.06) 100%
		);
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			inset: -2px;
			border: 2px solid rgba(255, 255, 255, 0.17);
			border-radius: 30px;
			pointer-events: none;
		}

		&Txt {
			position: relative;
			z-index: 2;
		}

		&Strip {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background: linear-gradient(360deg, #00a3ff 0%, #00d1ff 100%);
			border-radius: 30px;
			overflow: hidden;
		}
	}

	&List {
		display: grid;
		grid-template-columns: repeat(4, max-content);
		align-items: flex-end;
		justify-content: space-between;
		gap: 5px;
		width: 100%;

		@media (max-width: 370px) {
			grid-template-columns: repeat(4, 1fr);
			align-items: flex-start;
		}

		&Elem {
			position: relative;
			max-width: 72px;
			max-height: 72px;
			width: 100%;
			height: 100%;
			padding: 0px 7px 8px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
			box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgb(255, 194, 122) 0%,
				rgb(203, 113, 56) 100%
			);
			border-radius: 16px;
			transition: all 0.1s linear;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				border: 2px solid #e5a983;
				border-radius: 16px;
				pointer-events: none;
				z-index: 1;
			}

			&:nth-child(3),
			:nth-child(4) {
				justify-self: flex-end;
				@media (max-width: 370px) {
					justify-self: flex-start;
				}
			}

			@media (max-width: 370px) {
				justify-content: flex-start;
			}

			&:active {
				scale: 0.98;
				background: radial-gradient(
					50% 50% at 50% 50%,
					rgb(221, 155, 77) 0%,
					rgb(158, 81, 32) 100%
				);
				width: 68px;
				height: 68px;

				@media (max-width: 370px) {
					width: 100%;
					height: 100%;
					scale: 0.95;
				}
			}

			&ImageWrapper {
				width: 58px;
				height: 58px;
				z-index: 2;

				@media (max-width: 370px) {
					width: 40px;
					height: 40px;
				}
			}

			&Image {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}

			&Txt {
				font-size: 10px;
				letter-spacing: 0.02em;
				text-transform: uppercase;
				text-wrap: nowrap;
				text-align: center;

				@media (max-width: 370px) {
					font-size: 8px;
				}
			}
		}
	}
}
