.goBack {
	position: fixed;
	bottom: 0;
	left: 31px;
	right: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 62px;
	background: linear-gradient(180deg, #c59575 0%, #9f582b 100%);
	font-size: 20px;
	line-height: 110%;
	letter-spacing: 0.02em;
	border-radius: 16px 16px 0 0;
	transition: all 0.1s linear;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: 16px 16px 0 0;
		border: 2px solid rgba(229, 169, 131, 0.3);
		border-bottom: 0;
		pointer-events: none;
	}

	&:active {
		background: linear-gradient(180deg, #c57f51 0%, #8b4315 100%);
		left: 34px;
		right: 34px;
		height: calc(62px - 5px);
	}
}
