.body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	z-index: 2;

	&EggLvl {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin-bottom: 22px;

		&Title {
			text-align: center;
			font-size: 36px;
		}

		&ExpBar {
			position: relative;
			width: 100%;
			text-align: center;
			border-radius: 30px;
			outline: 2px solid rgba(255, 255, 255, 0.17);
			background: rgba(0, 0, 0, 0.2);
			overflow: hidden;
			z-index: 1;

			&Txt {
				position: relative;
				z-index: 2;
			}
			&Strip {
				position: absolute;
				z-index: 0;
				inset: 0;
				height: 100%;
				width: 0;
				background: linear-gradient(180deg, #ffb800 0%, #ff7a00 100%);
				border-radius: 30px;
				z-index: -1;
			}
		}
	}

	&Egg {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		flex: 1;
		margin-bottom: 34px;

		&Img {
			height: 350px;
			width: 350px;
			@media (max-height: 765px) {
				height: 300px;
				width: 300px;
			}
			@media (max-height: 715px) {
				height: 250px;
				width: 250px;
			}
			@media (max-height: 635px) {
				height: 200px;
				width: 200px;
			}
		}
	}
}
