.shopBody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 11px;
	row-gap: 8px;

	&Card {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(180deg, #ffbd93 0%, #a36c32 100%);
		border-radius: 24px;
		padding: 12px;
		justify-content: center;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border: 2px solid rgba(255, 255, 255, 0.35);
			border-radius: 24px;
			pointer-events: none;
		}

		@media (max-width: 330px) {
			padding: 8px;
		}

		&:first-child {
			background: linear-gradient(180deg, #c376ff 0%, #8308ff 100%);

			.shopBodyCardSubtitle {
				display: none;
			}
		}

		&Img {
			max-width: 110px;
			max-height: 110px;
			width: 100%;
			height: 100%;
			margin-bottom: 3px;
		}

		&Title {
			flex-grow: 1;
			font-size: 17px;
			line-height: 90%;
			letter-spacing: 0.02em;
			text-align: center;
			text-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
			margin-bottom: 2px;
			text-transform: uppercase;
		}

		&Subtitle {
			display: block;
			font-size: 12px;
			font-family: 'Roboto';
			font-weight: 500;
			text-align: center;
			margin-bottom: 8px;
		}

		&Button {
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			gap: 4px;
			background: linear-gradient(180deg, #9fea00 0%, #4f9b02 100%);
			border-radius: 50px;
			width: 100%;
			height: 32px;
			text-transform: uppercase;
			transition: background 0.2s linear, scale 0.1s linear;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				border: 2px solid rgba(255, 255, 255, 0.4);
				border-radius: 50px;
				pointer-events: none;
			}

			&:active {
				background: linear-gradient(180deg, #95d808 0%, #478c01 100%);
				scale: 0.95;
			}

			&Txt {
				font-size: 16px;
				letter-spacing: 0.02em;
				text-wrap: nowrap;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			}

			&Img {
				width: 20px;
				height: 20px;
			}
		}
	}
}
