.modal {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 319px;
		width: 100%;
		padding: 20px 16px;
		background: #fff;
		border: 2px solid #cecece;
		border-radius: 20px;

		&Title {
			font-size: 40px;
			line-height: 110%;
			letter-spacing: 0.02em;
			text-align: center;
			color: #87481f;
		}

		&Text {
			font-family: var(--second-family);
			font-weight: 500;
			font-size: 20px;
			text-align: center;
			color: rgba(103, 43, 5, 0.7);
		}

		&QR {
			width: 132px;
			aspect-ratio: 1 / 1;
		}
	}
}
