.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	&Btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(180deg, #5ecdff 0%, #0a89ff 100%);
		border-radius: 16px;
		padding: 8px 20px;
		width: 100%;
		height: 40px;
		font-family: 'SuperCorn';
		font-size: 20px;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 16px;
			pointer-events: none;
		}
	}

	&Invite {
		display: flex;
		align-items: center;
		gap: 12px;
		width: max-content;
		font-family: 'Roboto';

		button {
			position: relative;
			transition: opacity 0.1s linear;

			&:active {
				opacity: 0.9;
			}

			.clipboard {
				position: absolute;
				bottom: 120%;
				right: 0;
				padding: 4px 12px;
				font-family: 'Roboto';
				font-size: 10px;
				color: #9120ff;
				background: #fff;
				border-radius: 50px;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.2s linear;

				&.show {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
}
