.container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	background: rgba(56, 48, 46, 0.6);
	z-index: 99;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s linear;

	&.isActive {
		opacity: 1;
		pointer-events: all;
	}

	&.isClose {
		opacity: 0;
		pointer-events: none;
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 12px;
		max-width: 319px;
		width: 100%;
		padding: 20px 16px;
		background: linear-gradient(180deg, #c376ff 0%, #8308ff 100%);
		border-radius: 20px;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border: 2px solid #cecece;
			border-radius: 20px;
			pointer-events: none;
		}

		.body {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 12px;
			width: 100%;
			padding-bottom: 12px;

			&Text {
				font-family: 'Roboto';
				font-weight: 700;
				font-size: 18px;
			}

			&Reward {
				display: flex;
				gap: 8px;
				font-size: 48px;
				line-height: 110%;
				letter-spacing: 0.02em;

				img {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}
